# Godot 4+ specific ignores
.godot/

/assets/models/Mario.glb
/assets/models/Yoshi's Island 1.glb
/assets/models/Yoshi's Island 1.glb.import
/assets/textures/Yoshi's Island 1/Grass_Texture.png
/assets/textures/Yoshi's Island 1/Grass_Texture.png.import
/assets/textures/Yoshi's Island 1/Grass2_Texture.png
/assets/textures/Yoshi's Island 1/Grass2_Texture.png.import
/assets/textures/Yoshi's Island 1/Ground_Texture.png
/assets/textures/Yoshi's Island 1/Ground_Texture.png.import
/assets/textures/Yoshi's Island 1/LargeBush_Texture.png
/assets/textures/Yoshi's Island 1/LargeBush_Texture.png.import
/assets/textures/Yoshi's Island 1/LightSilverPipe_Texture.png
/assets/textures/Yoshi's Island 1/LightSilverPipe_Texture.png.import
/assets/textures/Yoshi's Island 1/Pipe_Texture.png
/assets/textures/Yoshi's Island 1/Pipe_Texture.png.import
/assets/textures/Yoshi's Island 1/Sign_Texture.png
/assets/textures/Yoshi's Island 1/Sign_Texture.png.import
/assets/textures/Yoshi's Island 1/SignPost_Texture.png
/assets/textures/Yoshi's Island 1/SignPost_Texture.png.import
/assets/textures/Yoshi's Island 1/SilverPipe_Texture.png
/assets/textures/Yoshi's Island 1/SilverPipe_Texture.png.import
/assets/textures/Yoshi's Island 1/SmallBush_Texture.png
/assets/textures/Yoshi's Island 1/SmallBush_Texture.png.import
/assets/textures/Yoshi's Island 1/StoneBlock_Texture.png
/assets/textures/Yoshi's Island 1/StoneBlock_Texture.png.import
/assets/textures/Yoshi's Island 1/YoshiCloud_Texture.png
/assets/textures/Yoshi's Island 1/YoshiCloud_Texture.png.import

/assets/models/Mario.glb.import
/assets/textures/Mario/Arms_Texture.png
/assets/textures/Mario/Arms_Texture.png.import
/assets/textures/Mario/Body_Texture_2.png
/assets/textures/Mario/Body_Texture_2.png.import
/assets/textures/Mario/Feet_Texture.png
/assets/textures/Mario/Feet_Texture.png.import
/assets/textures/Mario/Hat_Texture_2.png
/assets/textures/Mario/Hat_Texture_2.png.import
/assets/textures/Mario/Legs_Texture.png
/assets/textures/Mario/Legs_Texture.png.import
/assets/textures/Mario/MarioHead_Texture_2.png
/assets/textures/Mario/MarioHead_Texture_2.png.import

/assets/music/Level Theme.ogg
/assets/music/Level Theme.ogg.import
/assets/sounds/Jump.wav
/assets/sounds/Jump.wav.import
/assets/music/Super Mario World Overworld Remastered.ogg
/assets/music/Super Mario World Overworld Remastered.ogg.import
/assets/models/Koopa Coin.glb
/assets/models/Koopa Coin.glb.import
/assets/textures/KoopaCoin_Texture.png
/assets/textures/KoopaCoin_Texture.png.import
/assets/sounds/Koopa Coin.wav
/assets/sounds/Koopa Coin.wav.import
