# Godot 4+ specific ignores
.godot/

/assets/models/Mario.glb
/assets/models/Yoshi's Island 1.glb
/assets/models/Yoshi's Island 1.glb.import
/assets/textures/Yoshi's Island 1/Grass_Texture.png
/assets/textures/Yoshi's Island 1/Grass_Texture.png.import
/assets/textures/Yoshi's Island 1/Grass2_Texture.png
/assets/textures/Yoshi's Island 1/Grass2_Texture.png.import
/assets/textures/Yoshi's Island 1/Ground_Texture.png
/assets/textures/Yoshi's Island 1/Ground_Texture.png.import
/assets/textures/Yoshi's Island 1/LargeBush_Texture.png
/assets/textures/Yoshi's Island 1/LargeBush_Texture.png.import
/assets/textures/Yoshi's Island 1/LightSilverPipe_Texture.png
/assets/textures/Yoshi's Island 1/LightSilverPipe_Texture.png.import
/assets/textures/Yoshi's Island 1/Pipe_Texture.png
/assets/textures/Yoshi's Island 1/Pipe_Texture.png.import
/assets/textures/Yoshi's Island 1/Sign_Texture.png
/assets/textures/Yoshi's Island 1/Sign_Texture.png.import
/assets/textures/Yoshi's Island 1/SignPost_Texture.png
/assets/textures/Yoshi's Island 1/SignPost_Texture.png.import
/assets/textures/Yoshi's Island 1/SilverPipe_Texture.png
/assets/textures/Yoshi's Island 1/SilverPipe_Texture.png.import
/assets/textures/Yoshi's Island 1/SmallBush_Texture.png
/assets/textures/Yoshi's Island 1/SmallBush_Texture.png.import
/assets/textures/Yoshi's Island 1/StoneBlock_Texture.png
/assets/textures/Yoshi's Island 1/StoneBlock_Texture.png.import
/assets/textures/Yoshi's Island 1/YoshiCloud_Texture.png
/assets/textures/Yoshi's Island 1/YoshiCloud_Texture.png.import

/assets/models/Mario.glb.import
/assets/textures/Mario/Arms_Texture.png
/assets/textures/Mario/Arms_Texture.png.import
/assets/textures/Mario/Body_Texture_2.png
/assets/textures/Mario/Body_Texture_2.png.import
/assets/textures/Mario/Feet_Texture.png
/assets/textures/Mario/Feet_Texture.png.import
/assets/textures/Mario/Hat_Texture_2.png
/assets/textures/Mario/Hat_Texture_2.png.import
/assets/textures/Mario/Legs_Texture.png
/assets/textures/Mario/Legs_Texture.png.import
/assets/textures/Mario/MarioHead_Texture_2.png
/assets/textures/Mario/MarioHead_Texture_2.png.import

/assets/music/Level Theme.ogg
/assets/music/Level Theme.ogg.import
/assets/sounds/Jump.wav
/assets/sounds/Jump.wav.import
/assets/music/Super Mario World Overworld Remastered.ogg
/assets/music/Super Mario World Overworld Remastered.ogg.import
/assets/models/Koopa Coin.glb
/assets/models/Koopa Coin.glb.import
/assets/textures/KoopaCoin_Texture.png
/assets/textures/KoopaCoin_Texture.png.import
/assets/sounds/Koopa Coin.wav
/assets/sounds/Koopa Coin.wav.import
/assets/fonts/Super Mario World Text Box.ttf
/assets/fonts/Super Mario World Text Box.ttf.import
/assets/textures/KoopaCoinScore_Texture.png
/assets/textures/KoopaCoinScore_Texture.png.import
/assets/models/Small Mario.glb
/assets/models/Small Mario.glb.import
/assets/textures/Mario/SmallMarioHead_Texture.png
/assets/textures/Mario/SmallMarioHead_Texture.png.import
/assets/models/Mushroom.glb
/assets/models/Mushroom.glb.import
/assets/textures/Mushroom_Texture.png
/assets/textures/Mushroom_Texture.png.import
/assets/sounds/Spin Jump.wav
/assets/sounds/Spin Jump.wav.import
/assets/models/Block.glb
/assets/models/Block.glb.import
/assets/textures/Blocks/BreakableBlock_Texture.png
/assets/textures/Blocks/BreakableBlock_Texture.png.import
/assets/textures/Blocks/ExclamationBlock_Texture.png
/assets/textures/Blocks/ExclamationBlock_Texture.png.import
/assets/textures/Blocks/QuestionBlock_Texture.png
/assets/textures/Blocks/QuestionBlock_Texture.png.import
/assets/models/Flat Block.glb
/assets/models/Flat Block.glb.import
/assets/models/Checkpoint.glb
/assets/models/Checkpoint.glb.import
/assets/textures/CheckpointPole_Texture.png
/assets/textures/CheckpointPole_Texture.png.import
/assets/models/Grey Pipe.glb
/assets/models/Grey Pipe.glb.import
/assets/textures/ExclamationBlock_Texture.png
/assets/textures/ExclamationBlock_Texture.png.import
/assets/textures/Blocks/BonkedBlock_Texture.png
/assets/textures/Blocks/BonkedBlock_Texture.png.import
/assets/models/Goal.glb
/assets/models/Goal.glb.import
/assets/models/Rex.glb
/assets/models/Rex.glb.import
/assets/textures/Rex_Texture.png
/assets/textures/Rex_Texture.png.import
/assets/textures/RexWings_Texture.png
/assets/textures/RexWings_Texture.png.import
/assets/textures/Background 1.png
/assets/textures/Background 1.png.import
/assets/textures/Mario64Background.png
/assets/textures/Mario64Background.png.import
/assets/textures/Mario64Background2.png
/assets/textures/Mario64Background2.png.import
